node_modules
semantic/dist/*
!semantic/dist/semantic.min.css
!semantic/dist/semantic.css
semantic/tasks/
semantic/gulpfile.js
semantic/src/themes
semantic/src/definitions
semantic/src/*.less
semantic/src/*.config
