/* extending icons */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon.woff") format("woff"),
    url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* margin: 0 0.2em 0 -0.1em !important; */
  /* font-size: 1.15em !important ; */

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .icomoon.dots-horizontal:before {
  content: "\e946";
} */
.icomoon.i-circle-add:before {
  content: "\2795";
}
.icomoon.i-circle-pause:before {
  content: "\23f8";
}
.icomoon.i-circle-minus:before {
  content: "\2796";
}
.icomoon.i-circle-info:before {
  content: "\2139";
}
.icomoon.i-emoji-sad:before {
  content: "\2639";
}
.icomoon.i-emoji-happy:before {
  content: "\1f642";
}
.icomoon.i-circle-dots:before {
  content: "\26aa";
}
.icomoon.i-circle-tick:before {
  content: "\2611";
}
.icomoon.i-disable:before {
  content: "\1f6ab";
}
.icomoon.i-circle-arrow-up:before {
  content: "\2b06";
}
.icomoon.i-cricle-arrow-right:before {
  content: "\27a1";
}
.icomoon.i-circle-arrow-down:before {
  content: "\2b07";
}
.icomoon.i-circle-arrow-left:before {
  content: "\2b05";
}
.icomoon.i-circle-stop:before {
  content: "\23ef";
}
.icomoon.i-dots-horizontal:before {
  content: "\26ab";
}
.icomoon.i-dots-vertical:before {
  content: "\1f535";
}
.icomoon.i-plus:before {
  content: "\2b";
}
.icomoon.i-zoom-out:before {
  content: "\1f611";
}
.icomoon.i-zoom-in:before {
  content: "\1f633";
}
.icomoon.i-x:before {
  content: "\274e";
}
.icomoon.i-volume-up:before {
  content: "\1f50a";
}
.icomoon.i-volume-off:before {
  content: "\1f507";
}
.icomoon.i-view-list:before {
  content: "\5f";
}
.icomoon.i-view-grid:before {
  content: "\e908";
}
.icomoon.i-cirlce-user:before {
  content: "\1f464";
}
.icomoon.i-user-add:before {
  content: "\1f465";
}
.icomoon.i-upload:before {
  content: "\1f53c";
}
.icomoon.i-trash:before {
  content: "\1f5d1";
}
.icomoon.i-sun:before {
  content: "\1f31e";
}
.icomoon.i-announcemnent:before {
  content: "\1f4e2";
}
.icomoon.i-sparkles:before {
  content: "\2728";
}
.icomoon.i-shopping-cart:before {
  content: "\1f6d2";
}
.icomoon.i-shield-check:before {
  content: "\1f6e1";
}
.icomoon.i-share:before {
  content: "\1f4e4";
}
.icomoon.i-selector:before {
  content: "\e917";
}
.icomoon.i-search:before {
  content: "\1f50d";
}
.icomoon.i-reply:before {
  content: "\e919";
}
.icomoon.i-photograph:before {
  content: "\1f5bc";
}
.icomoon.i-pencil-alt:before {
  content: "\1f4dd";
}
.icomoon.i-pencil:before {
  content: "\270f";
}
.icomoon.i-paper-clip:before {
  content: "\1f4ce";
}
.icomoon.i-music:before {
  content: "\1f3b5";
}
.icomoon.i-moon:before {
  content: "\1f319";
}
.icomoon.i-mic:before {
  content: "\1f399";
}
.icomoon.i-menu-alt:before {
  content: "\e926";
}
.icomoon.i-menu-alt-right:before {
  content: "\e927";
}
.icomoon.i-menu-alt-left:before {
  content: "\e928";
}
.icomoon.i-menu-alt-justify:before {
  content: "\e929";
}
.icomoon.i-menu:before {
  content: "\e92a";
}
.icomoon.i-msg-open:before {
  content: "\1f4e9";
}
.icomoon.i-msg:before {
  content: "\1f4ee";
}
.icomoon.i-logout:before {
  content: "\e92d";
}
.icomoon.i-login:before {
  content: "\e92e";
}
.icomoon.i-lock-open:before {
  content: "\1f513";
}
.icomoon.i-lock-closed:before {
  content: "\1f512";
}
.icomoon.i-pin:before {
  content: "\1f4cd";
}
.icomoon.i-link:before {
  content: "\e932";
}
.icomoon.i-light-bulb:before {
  content: "\e933";
}
.icomoon.i-icon-comment:before {
  content: "\e935";
}
.icomoon.i-icon-cog:before {
  content: "\e936";
}
.icomoon.i-hashtag:before {
  content: "\e937";
}
.icomoon.i-globe:before {
  content: "\1f30d";
}
.icomoon.i-folder:before {
  content: "\1f4c1";
}
.icomoon.i-flag:before {
  content: "\e93a";
}
.icomoon.i-filter:before {
  content: "\e93b";
}
.icomoon.i-fast-forward:before {
  content: "\e93c";
}
.icomoon.i-eye-off:before {
  content: "\e93d";
}
.icomoon.i-eye:before {
  content: "\e93e";
}
.icomoon.i-external-link:before {
  content: "\e93f";
}
.icomoon.i-exclamation:before {
  content: "\e941";
}
.icomoon.i-duplicate:before {
  content: "\e944";
}
.icomoon.i-download:before {
  content: "\e945";
}
.icomoon.i-device-tablet:before {
  content: "\e949";
}
.icomoon.i-device-mobile:before {
  content: "\e94a";
}
.icomoon.i-desktop-computer:before {
  content: "\e94b";
}
.icomoon.i-database:before {
  content: "\1f4ca";
}
.icomoon.i-cursor-click:before {
  content: "\e94d";
}
.icomoon.i-credit-card:before {
  content: "\e94e";
}
.icomoon.i-clipboard-copy:before {
  content: "\e94f";
}
.icomoon.i-clipboard-check:before {
  content: "\1f4cb";
}
.icomoon.i-chevron-up:before {
  content: "\1f446";
}
.icomoon.i-chevron-right:before {
  content: "\1f449";
}
.icomoon.i-chevron-left:before {
  content: "\1f448";
}
.icomoon.i-chevron-down:before {
  content: "\1f447";
}
.icomoon.i-check:before {
  content: "\2705";
}
.icomoon.i-chat:before {
  content: "\1f4ac";
}
.icomoon.i-camera:before {
  content: "\1f4f7";
}
.icomoon.i-bookmark:before {
  content: "\1f516";
}
.icomoon.i-notification:before {
  content: "\1f514";
}
.icomoon.i-annotation:before {
  content: "\1f4cc";
}
